<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "scenic" %>
  </div>

  <div class="col-md-8">
    <p>me and my ice cream</p>

    <p>here is my favorite ice cream place and some of the best flavors there yay</p>
  </div>
</div>