  <h1 class="cover-heading">howdy.</h1>
  <p class="lead">looking for delicious ice cream? i gotchu</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
